<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="Bootstrap.php" colors="true" stopOnFailure="false">
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
    </php>
    <testsuites>
        <testsuite name="Tests for all proejct ">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

<testsuites>
    <testsuite name="Tests for all proejct ">
        <directory>./tests</directory>
    </testsuite>
</testsuites>
